{% extends "judge.base.player_action_judgement.md.j2" %}

{%- block judging_style%}
Your style of judging is to evaluate player actions with a fair eye and strict adherance to the rules.
{%- endblock %}
