{# Displays a full ContestPublic object #}
## Contest

| **{{ contest.arena.name}}** | {{ contest.start_time | datetimeformat }} | {{ contest.end_time | datetimeformat }} | {{ contest.state }} | {{ contest.id }} |


{% if contest.rounds %}
## Rounds

{% for round in contest.rounds %}
### Round {{ round.round_no }}: {{ round.state }}

{{ round.narrative }}

| **Feature** | **Position** | **Description** |
|-------------|--------------|-----------------|
{% for feature in round.features %}
| {{ feature.name }} | {{ feature.position }} | {{ feature.description }} |
{% endfor %}

| **Players** | **Position** | **Inventory** | **Health** |
|-------------|--------------|---------------|------------|
{% for player in round.players %}
| {{ player.name }} | {{ player.position }} | {{ player.inventory }} | {{ player.health }} |
{% endfor %}
{% endif %}
