## Arena

| **Name** | **ID** | **Description** | **Height** | **Width** | **Max Random Features** | **Rules** | **Winning Condition** |
|----------|--------|----------------|------------|-----------|------------------------|-----------|----------------------|
| {{ arena.name }} | {{ arena.id }} | {{ arena.description }} | {{ arena.height }} | {{ arena.width }} | {{ arena.max_random_features }} | {{ arena.rules }} | {{ arena.winning_condition }} |