## Arena {{ arena.id }}
### {{ arena.name }}

"{{ arena.description }}"

- Height: {{ arena.height }}
- Width: {{ arena.width }}
- Max Random Features: {{ arena.max_random_features }}
- Rules: {{ arena.rules }}
- Winning Condition: {{ arena.winning_condition }}
