{# Displays a full ContestPublic object #}
## Contest {{ contest.id }}

### {{ contest.arena.name}}

"{{ contest.arena.description }}"

- State: *{{ contest.state.value }}*
- Auto-advance: {{ contest.auto_advance }}
{%- if contest.start_time %}
- Started: {{ contest.start_time | datetimeformat }}
- Ended: {{ contest.end_time | datetimeformat }}
{%- endif %} 
- Dimensions: {{ contest.arena.height }} x {{ contest.arena.width }}
- Max Random Features: {{ contest.arena.max_random_features }}
- Rules: {{ contest.arena.rules }}
- Winning Condition: {{ contest.arena.winning_condition }}


### Participants ({{ contest.participants | length }})
| **Name** | **Role** | **Description** |
|----------|--------------|-----------------|
{%- for participant in contest.participants %}
| {{ participant.name }} | {{ participant.role.value }} | {{ participant.description }} |
{%- endfor %}
{% if contest.rounds %}
## Rounds

{% for round in contest.rounds %}
### Round {{ round.round_no }}: {{ round.state.value }}

{{ round.narrative }}

### Features ({{ round.features | length }})
| **Name** | **Position** | **Description** |
|----------|--------------|-----------------|
{%- for feature in round.features %}
| {{ feature.name }} | {{ feature.position }} | {{ feature.description }} |
{%- endfor %}

### Players ({{ round.players | length }})
{%- for player in round.players %}
| **Name** | **Position** | **Inventory** | **Health** | **Score** |
|----------|--------------|---------------|------------|-----------|
| {{ player.name }} | {{ player.position }} | {{ player.inventory | join(", ") }} | {{ player.health }} | {{ player.score }} |

{%- if player.action %}
### Action
- Action: {{ player.action.action }}
- Target: {{ player.action.target }} 
- Memories: {{ player.action.memories }}
- Narration: "{{ player.action.narration }}"
{%- endif %}

{%- if player.result %}
### Result
- Result: {{ player.result.result }}
- Reason: {{ player.result.reason }}
- Narration: "{{ player.result.narration }}"
- Memories: {{ player.result.memories }}
{%- endif %}

{% endfor %}
{% endfor%}
{% endif %}
