## Participant

| **Name** | **ID** | **Role** | **Endpoint** | **Description** |
|----------|--------|----------|--------------|-----------------|
| {{ participant.name }} | {{ participant.id }} | {{ participant.role }} | {{ participant.endpoint }} | {{ participant.description }} |
