## Player

| **Name** | **ID** | **Position** | **Inventory** | **Health** | **Score** |
|----------|--------|--------------|---------------|------------|-----------|
| {{ player.name }} | {{ player.id }} | {{ player.position }} | {{ player.inventory }} | {{ player.health }} | {{ player.score }} |
